<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_55875bfd81c2359e2130877386ad8fc6 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_55875bfd81c2359e2130877386ad8fc6" ></div>
        
</body>
<script>
    
    
            var map_55875bfd81c2359e2130877386ad8fc6 = L.map(
                "map_55875bfd81c2359e2130877386ad8fc6",
                {
                    center: [56.254, 43.9378],
                    crs: L.CRS.EPSG3857,
                    zoom: 11,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_376565c6b7f6f299b43e4f76940c136a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_55875bfd81c2359e2130877386ad8fc6);
        
    
                var lat_lng_popup_2b32c3ea69e96faeb9fbf65f944db1b3 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_2b32c3ea69e96faeb9fbf65f944db1b3
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_55875bfd81c2359e2130877386ad8fc6);
                    }
                map_55875bfd81c2359e2130877386ad8fc6.on('click', latLngPop);
            
    
            var feature_group_8514236d1ae6476d1c131b91b0cc49c6 = L.featureGroup(
                {}
            ).addTo(map_55875bfd81c2359e2130877386ad8fc6);
        
    
            var marker_b637983ec11d0c8b107f751607fc481f = L.marker(
                [56.3035, 43.9998],
                {}
            ).addTo(feature_group_8514236d1ae6476d1c131b91b0cc49c6);
        
    
            var icon_5252ae0bd3c88fd4f097b6ecf37675d4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_b637983ec11d0c8b107f751607fc481f.setIcon(icon_5252ae0bd3c88fd4f097b6ecf37675d4);
        
    
        var popup_2ab91beab4139b90e4669268c0aa529e = L.popup({"maxWidth": "100%"});

        
            
                var html_8972fb28863334df52d5f5db9464a034 = $(`<div id="html_8972fb28863334df52d5f5db9464a034" style="width: 100.0%; height: 100.0%;">Скоро здесь будет мой дом! Уже в этом Сентябре!</div>`)[0];
                popup_2ab91beab4139b90e4669268c0aa529e.setContent(html_8972fb28863334df52d5f5db9464a034);
            
        

        marker_b637983ec11d0c8b107f751607fc481f.bindPopup(popup_2ab91beab4139b90e4669268c0aa529e)
        ;

        
    
    
            var marker_d6c1db16be259ba9fda741df4b24175b = L.marker(
                [56.1624, 43.9222],
                {}
            ).addTo(feature_group_8514236d1ae6476d1c131b91b0cc49c6);
        
    
            var icon_bf77de3d2631d18b24cf9cc0ffd77053 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d6c1db16be259ba9fda741df4b24175b.setIcon(icon_bf77de3d2631d18b24cf9cc0ffd77053);
        
    
        var popup_6d00fde1486ba1b0528e8635e98643e3 = L.popup({"maxWidth": "100%"});

        
            
                var html_6cfd01117e77c54fd12275134165d006 = $(`<div id="html_6cfd01117e77c54fd12275134165d006" style="width: 100.0%; height: 100.0%;">Пока, я живу здесь(</div>`)[0];
                popup_6d00fde1486ba1b0528e8635e98643e3.setContent(html_6cfd01117e77c54fd12275134165d006);
            
        

        marker_d6c1db16be259ba9fda741df4b24175b.bindPopup(popup_6d00fde1486ba1b0528e8635e98643e3)
        ;

        
    
    
            var marker_2c5b6abd5a3eeb97ccbcdf335db20930 = L.marker(
                [56.2857, 44.072],
                {}
            ).addTo(feature_group_8514236d1ae6476d1c131b91b0cc49c6);
        
    
            var icon_1ea1da8e6ad53d4783ca6480a875ee33 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "icon", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2c5b6abd5a3eeb97ccbcdf335db20930.setIcon(icon_1ea1da8e6ad53d4783ca6480a875ee33);
        
    
        var popup_4b2b3aea269b292542fa7ace534c8c72 = L.popup({"maxWidth": "100%"});

        
            
                var html_f1218a1e66cea64b477361aac779c221 = $(`<div id="html_f1218a1e66cea64b477361aac779c221" style="width: 100.0%; height: 100.0%;">Здесь я жил когда то...</div>`)[0];
                popup_4b2b3aea269b292542fa7ace534c8c72.setContent(html_f1218a1e66cea64b477361aac779c221);
            
        

        marker_2c5b6abd5a3eeb97ccbcdf335db20930.bindPopup(popup_4b2b3aea269b292542fa7ace534c8c72)
        ;

        
    
    
            var marker_94f452ed338eb8c2f6dd29fbd5ed4e91 = L.marker(
                [56.3401, 43.9303],
                {}
            ).addTo(feature_group_8514236d1ae6476d1c131b91b0cc49c6);
        
    
            var icon_2ae371d7b763d4d227102df746dc7661 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "icon", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_94f452ed338eb8c2f6dd29fbd5ed4e91.setIcon(icon_2ae371d7b763d4d227102df746dc7661);
        
    
        var popup_2d6cd550059fdadbe3e7d17288e3cea5 = L.popup({"maxWidth": "100%"});

        
            
                var html_d8d034a05ff80b60c5eedb61f95ceeae = $(`<div id="html_d8d034a05ff80b60c5eedb61f95ceeae" style="width: 100.0%; height: 100.0%;">Здесь я жил когда то...</div>`)[0];
                popup_2d6cd550059fdadbe3e7d17288e3cea5.setContent(html_d8d034a05ff80b60c5eedb61f95ceeae);
            
        

        marker_94f452ed338eb8c2f6dd29fbd5ed4e91.bindPopup(popup_2d6cd550059fdadbe3e7d17288e3cea5)
        ;

        
    
    
            var marker_566e4d2d7ea83f45030c45e6aca3c725 = L.marker(
                [56.2666, 43.8747],
                {}
            ).addTo(feature_group_8514236d1ae6476d1c131b91b0cc49c6);
        
    
            var icon_21a9ef911b1b8037e6f98f523f56fcf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "icon", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_566e4d2d7ea83f45030c45e6aca3c725.setIcon(icon_21a9ef911b1b8037e6f98f523f56fcf4);
        
    
        var popup_b81d2f861e6c586eef9d33e2e8bc8e60 = L.popup({"maxWidth": "100%"});

        
            
                var html_7b71e2ea462bbcba64ce767329a25b93 = $(`<div id="html_7b71e2ea462bbcba64ce767329a25b93" style="width: 100.0%; height: 100.0%;">Здесь я жил когда то...</div>`)[0];
                popup_b81d2f861e6c586eef9d33e2e8bc8e60.setContent(html_7b71e2ea462bbcba64ce767329a25b93);
            
        

        marker_566e4d2d7ea83f45030c45e6aca3c725.bindPopup(popup_b81d2f861e6c586eef9d33e2e8bc8e60)
        ;

        
    
    
            var feature_group_f6d14df96c1e9f295db897b47ed61753 = L.featureGroup(
                {}
            ).addTo(map_55875bfd81c2359e2130877386ad8fc6);
        
    
            var circle_35c8edd4975ba21fc49f3ce072313534 = L.circle(
                [56.2826, 44.0162],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 800, "stroke": true, "weight": 3}
            ).addTo(feature_group_f6d14df96c1e9f295db897b47ed61753);
        
    
            circle_35c8edd4975ba21fc49f3ce072313534.bindTooltip(
                `<div>
                     Щёлоковский Хутор
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_e5db5994f0476b0db2a377ea2c69393b = L.polyline(
                [[56.2572, 43.971], [56.2583, 43.9663], [56.2635, 43.97], [56.2848, 43.9697], [56.2843, 43.9805], [56.2735, 43.9759], [56.2572, 43.971]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(feature_group_f6d14df96c1e9f295db897b47ed61753);
        
    
            poly_line_e5db5994f0476b0db2a377ea2c69393b.bindTooltip(
                `<div>
                     Парк Швейцария
                 </div>`,
                {"sticky": true}
            );
        
    
        function geo_json_bbd4eddddf1557778adf6fed137ba036_styler(feature) {
            switch(feature.id) {
                default:
                    return {"color": "green", "fillColor": "yellow"};
            }
        }

        function geo_json_bbd4eddddf1557778adf6fed137ba036_onEachFeature(feature, layer) {
            layer.on({
            });
        };
        var geo_json_bbd4eddddf1557778adf6fed137ba036 = L.geoJson(null, {
                onEachFeature: geo_json_bbd4eddddf1557778adf6fed137ba036_onEachFeature,
            
                style: geo_json_bbd4eddddf1557778adf6fed137ba036_styler,
        });

        function geo_json_bbd4eddddf1557778adf6fed137ba036_add (data) {
            geo_json_bbd4eddddf1557778adf6fed137ba036
                .addData(data)
                .addTo(feature_group_f6d14df96c1e9f295db897b47ed61753);
        }
            geo_json_bbd4eddddf1557778adf6fed137ba036_add({"features": [{"geometry": {"coordinates": [[[43.8665, 56.338], [43.8653, 56.3334], [43.8617, 56.332], [43.8458, 56.3387], [43.8522, 56.3449], [43.8655, 56.3419], [43.8665, 56.338]]], "type": "Polygon"}, "id": "0", "type": "Feature"}], "type": "FeatureCollection"});

        
    
            geo_json_bbd4eddddf1557778adf6fed137ba036.bindTooltip(
                `<div>
                     Сормовский Парк
                 </div>`,
                {"sticky": true}
            );
        
    
            var tile_layer_3c52ce83668ba9c4e8e3a9b4ae47650f = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_55875bfd81c2359e2130877386ad8fc6);
        
    
            var tile_layer_9913d164e796b3c5ff2820dbfa3085ef = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca target=\"_blank\" href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_55875bfd81c2359e2130877386ad8fc6);
        
    
            var layer_control_eccbdef40029d14a5881c9ebfa2c387e = {
                base_layers : {
                    "openstreetmap" : tile_layer_376565c6b7f6f299b43e4f76940c136a,
                    "stamentoner" : tile_layer_3c52ce83668ba9c4e8e3a9b4ae47650f,
                    "stamenterrain" : tile_layer_9913d164e796b3c5ff2820dbfa3085ef,
                },
                overlays :  {
                    "\u0413\u0434\u0435 \u044f \u0436\u0438\u043b" : feature_group_8514236d1ae6476d1c131b91b0cc49c6,
                    "\u041f\u0430\u0440\u043a\u0438 \u0438 \u0437\u043e\u043d\u044b \u043e\u0442\u0434\u044b\u0445\u0430" : feature_group_f6d14df96c1e9f295db897b47ed61753,
                },
            };
            L.control.layers(
                layer_control_eccbdef40029d14a5881c9ebfa2c387e.base_layers,
                layer_control_eccbdef40029d14a5881c9ebfa2c387e.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_55875bfd81c2359e2130877386ad8fc6);
            tile_layer_3c52ce83668ba9c4e8e3a9b4ae47650f.remove();
            tile_layer_9913d164e796b3c5ff2820dbfa3085ef.remove();
        
</script>
</html>